<p>Propriedade</p>
<table class="table table-sm table-hover">
  <tbody>
    <tr>
      <td>Proprietário</td>
      <td>{{item.nome}}</td>
    </tr>
    <tr>
      <td>Código Emater</td>
      <td>{{item.codEmater}}</td>
    </tr>
    <tr>
      <td>Código CAR</td>
      <td>{{item.codCar}}</td>
    </tr>
    <tr>
      <td>Municipio</td>
      <td>{{item.municipio.nome}}</td>
    </tr>
    <tr>
      <td>Área</td>
      <td>{{item.area}}</td>
    </tr>
    <tr>
      <td>Área Café</td>
      <td>{{item.areaCafe}}</td>
    </tr>
  </tbody>
</table>
